@()
@main("Add people") {
    <h1>Add person form - using JSON endpoint</h1>
    <div>
    @helper.form(routes.Application.callExternal()) {
        <input type="text" name="name" placeholder="Name..." required>
        <input type="text" name="age" placeholder="Age..." required>
        <input type="submit" value="Submit">
        }
    </div>
}